html {
  font-family: "JetBrains Mono", monospace;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  border-bottom: solid;
  border-width: 5px;
}

@media (max-width: 750px) {
  #navbar ul,
  li {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 25px;
  }
  #navbar {
    height: 120px;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  h5 {
    display: none;
  }
}

nav ul,
li {
  display: inline;
  margin: 10px;
}

nav {
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  border-bottom: solid;
  border-width: 5px;
}

nav img {
  height: 35px;
  width: 35px;
}
h5 {
  font-size: 1.5em;
}

/* HOME PAGE */

@media (max-width: 750px) {
  #home {
    font-size: 16px;
    margin: 0;
    display: flex;
  }

  .space {
    display: none;
  }
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
  align-content: space-around;
}

h1 {
  border-bottom: solid;
  border-width: 5px;
  margin-left: 200px;

  animation-name: shake;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes shake {
  0% {
    transform: rotate3d(1, 2, 3, 0deg);
  }
  50% {
    transform: rotate3d(2, 3, 4, 10deg);
  }
  100% {
    transform: rotate3d(1, 2, 3, 0deg);
  }
}

.space {
  height: 300px;
  width: 25px;
  border-right: solid;
  border-width: 5px;
}

@media (min-width: 750px) {
  p {
    border-bottom: solid;
    border-width: 5px;
    line-height: 2;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 750px) {
  p {
    border-bottom: solid;
    border-width: 5px;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }
}

/* GOODS PAGE  */

@media (max-width: 750px) {
  #goods {
    font-size: 14px;
  }

  #goods p {
    margin-right: 50px;
  }

  h2 {
    display: none;
  }

  .page {
    height: 80%;
    width: 100%;
  }
}

#goods {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.page {
  height: 600px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

h2 {
  font-size: 2em;
}

/* ABOUT PAGE */

#about {
  display: flex;
  flex-direction: column;
}

h3 {
  border-bottom: solid;
  margin-bottom: 0px;
}

@media (min-width: 750px) {
  .nftArt {
    height: 200px;
    width: 200px;
    border-style: solid;
  }
}

@media (max-width: 750px) {
  .nftArt {
    height: 50px;
    width: 50px;
    border-style: solid;
  }
}

h4 {
  border-bottom: solid;
}

/* News Page */

#news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#news img {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.roadMap {
  height: 100px;
  width: 100px;
}

/* News Page */

/* CONTACT PAGE */

@media (max-width: 550px) {
  #contact p a {
    font-size: 12px;
  }

  h4 {
    font-size: 14px;
  }
}

#contact {
  display: flex;
  flex-direction: column;
}
.resources {
  height: 25px;
  width: 25px;
}
.contactCard {
  width: 100%;
  height: 100px;
  border: 5px solid;
  border-color: black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

h4 {
  font-weight: bolder;
  font-size: 20px;
}

@media (max-width: 750px) {
  h4 {
    font-size: 12px;
  }
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

footer a {
  color: white;
}

footer img {
  height: 25px;
  width: 25px;
}
